*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    //then 1 rem=10px, that equal with 0.625 from 16px
    
    //arrange decrease

    @include respond(mini-desktop) {
        font-size: 56.25%; //1rem=1px, 9/16=56.25%
    }

    @include respond(tablet) {
        font-size: 50%; //1rem=8px, 8/16=50%
    }

    @include respond(mobile) {
        font-size: 43.75%; //1rem=7px, 7/16=43.75%
    }
}

body {
    box-sizing: border-box;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & img {
        width: 15vw;
        height: 20vw;
    }
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
   
    main aside {
      align-self: center;
    }
  }
   
  /* Perangkat dengan lebar layar 768px dan di bawahnya */
  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
   
    main aside {
      align-self: stretch;
    }
  }